@model Models.ViewModels.JobRoleViewModels.JobRoleViewModel

<div class="text-center">
    <partial name="_JobRoleResults" for="@Model.JobRoleResults"/>

    <a asp-action="Create">Create new Job Role</a>
</div>